{
    "plugins": ["transform-class-properties"],
    "ignore": [],
    "presets": [
        "react-app",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions"
                    ]
                },
                "modules": false,
                "useBuiltIns": true,
                "debug": false
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}